/* EntryList.css */
.entry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .entry-list .journal-entry {
    width: 90%;
  }
  
  @media (max-width: 768px) {
    .entry-list .journal-entry {
      width: 95%;
    }
  }
  
  @media (max-width: 480px) {
    .entry-list .journal-entry {
      width: 100%;
    }
  }
  