.sentiment {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-top: 10px;
  }
  
  .sentiment.positive {
    background-color: #28a745;
    color: white;
  }
  
  .sentiment.negative {
    background-color: #d7091e;
    color: white;
  }
  
  .sentiment.neutral {
    background-color: #eab310;
    color: white;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #4c5caf;
    margin: 0 5px;
  }
  
  .icon-button:hover {
    color: #a04583;
  }
  
 
