

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  color: #333;
}


div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.journal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.journal-entry {
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.journal-entry p {
  font-size: 1.2rem;
}

button {
  background-color: #4c8baf;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #457da0;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .journal-list {
    flex-direction: column;
    align-items: center;
  }

  .journal-entry {
    width: 100%;
  }

  button {
    width: 100%;
    font-size: 1.2rem;
  }
}
