body {
  font-family: 'Arial', sans-serif;
  background-color:rgb(65, 150, 224);
  color: #333;
}


@media (max-width: 1112px) {
  h1 {
    font-size: 1 rem;
  }

  h2 {
    font-size: 1 rem;
  }

  .add-entry-form textarea {
    height: 150px;
  }

  .journal-entry p {
    font-size: 1rem;
  }

  button {
    padding: 8px;
    font-size: 1rem;
  }
  
}
